WebContent/wsdl/Service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://connection" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://connection" xmlns:intf="http://connection" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://connection" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="signInMarket">
    <complexType>
     <sequence>
      <element name="fname" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="signInMarketResponse">
    <complexType>
     <sequence>
      <element name="signInMarketReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updatetime">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updatetimeResponse">
    <complexType>
     <sequence>
      <element name="updatetimeReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="signUpMarket">
    <complexType>
     <sequence>
      <element name="fname" type="xsd:string"/>
      <element name="lname" type="xsd:string"/>
      <element name="email" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="signUpMarketResponse">
    <complexType>
     <sequence>
      <element name="signUpMarketReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getIdFromFirstname">
    <complexType>
     <sequence>
      <element name="firstname" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getIdFromFirstnameResponse">
    <complexType>
     <sequence>
      <element name="getIdFromFirstnameReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="createAdvertisement">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="itemname" type="xsd:string"/>
      <element name="description" type="xsd:string"/>
      <element name="price" type="xsd:int"/>
      <element name="quantity" type="xsd:int"/>
      <element name="sellerinfo" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createAdvertisementResponse">
    <complexType>
     <sequence>
      <element name="createAdvertisementReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAdvertisementDetail">
    <complexType/>
   </element>
   <element name="getAdvertisementDetailResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAdvertisementDetailReturn" type="impl:AdvertisementBean"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="AdvertisementBean">
    <sequence>
     <element name="userid" type="xsd:int"/>
     <element name="advertiseid" type="xsd:int"/>
     <element name="itemname" nillable="true" type="xsd:string"/>
     <element name="itemdesc" nillable="true" type="xsd:string"/>
     <element name="itemprice" type="xsd:int"/>
     <element name="itemquantity" type="xsd:int"/>
     <element name="sellerinfo" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="getAdvertisementDetailLinkedList">
    <complexType/>
   </element>
   <element name="getAdvertisementDetailLinkedListResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAdvertisementDetailLinkedListReturn" type="impl:AdvertisementBean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getQuantityFromAdid">
    <complexType>
     <sequence>
      <element name="adid" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getQuantityFromAdidResponse">
    <complexType>
     <sequence>
      <element name="getQuantityFromAdidReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getuserDetailMarket">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getuserDetailMarketResponse">
    <complexType>
     <sequence>
      <element name="getuserDetailMarketReturn" type="impl:UserMarket"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="UserMarket">
    <sequence>
     <element name="email" nillable="true" type="xsd:string"/>
     <element name="firstname" nillable="true" type="xsd:string"/>
     <element name="lastlogtime" nillable="true" type="xsd:string"/>
     <element name="lastname" nillable="true" type="xsd:string"/>
     <element name="pwd" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="getAdvertisementFromId">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAdvertisementFromIdResponse">
    <complexType>
     <sequence>
      <element name="getAdvertisementFromIdReturn" type="impl:AdvertisementBean"/>
     </sequence>
    </complexType>
   </element>
   <element name="insertTransaction">
    <complexType>
     <sequence>
      <element name="adid" type="xsd:int"/>
      <element name="sellerid" type="xsd:int"/>
      <element name="buyerid" type="xsd:int"/>
      <element name="quantity" type="xsd:int"/>
      <element name="total" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="insertTransactionResponse">
    <complexType>
     <sequence>
      <element name="insertTransactionReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTransaction">
    <complexType/>
   </element>
   <element name="getTransactionResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getTransactionReturn" type="impl:TransactionBean"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="TransactionBean">
    <sequence>
     <element name="adid" type="xsd:int"/>
     <element name="buyerid" type="xsd:int"/>
     <element name="itemdescription" nillable="true" type="xsd:string"/>
     <element name="itemname" nillable="true" type="xsd:string"/>
     <element name="quantity" type="xsd:int"/>
     <element name="sellerid" type="xsd:int"/>
     <element name="time" nillable="true" type="xsd:string"/>
     <element name="total" type="xsd:int"/>
     <element name="transactionid" type="xsd:int"/>
    </sequence>
   </complexType>
   <element name="getAllBuyerTransaction">
    <complexType>
     <sequence>
      <element name="buyerid" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllBuyerTransactionResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAllBuyerTransactionReturn" type="impl:TransactionBean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllSellerTransaction">
    <complexType>
     <sequence>
      <element name="sellerid" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllSellerTransactionResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAllSellerTransactionReturn" type="impl:TransactionBean"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateQuantityAdvertisementTransaction">
    <complexType>
     <sequence>
      <element name="quantitydeduct" type="xsd:int"/>
      <element name="adid" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateQuantityAdvertisementTransactionResponse">
    <complexType>
     <sequence>
      <element name="updateQuantityAdvertisementTransactionReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteAdvertisement">
    <complexType/>
   </element>
   <element name="deleteAdvertisementResponse">
    <complexType>
     <sequence>
      <element name="deleteAdvertisementReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getuserDetail">
    <complexType/>
   </element>
   <element name="getuserDetailResponse">
    <complexType>
     <sequence>
      <element name="getuserDetailReturn" type="impl:User"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="User">
    <sequence>
     <element name="username" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="getuserDetailArray">
    <complexType/>
   </element>
   <element name="getuserDetailArrayResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getuserDetailArrayReturn" type="impl:User"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getuserDetailResponse">

      <wsdl:part element="impl:getuserDetailResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAdvertisementDetailLinkedListRequest">

      <wsdl:part element="impl:getAdvertisementDetailLinkedList" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAdvertisementDetailResponse">

      <wsdl:part element="impl:getAdvertisementDetailResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signInMarketResponse">

      <wsdl:part element="impl:signInMarketResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signUpMarketRequest">

      <wsdl:part element="impl:signUpMarket" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getQuantityFromAdidRequest">

      <wsdl:part element="impl:getQuantityFromAdid" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertTransactionResponse">

      <wsdl:part element="impl:insertTransactionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAdvertisementFromIdResponse">

      <wsdl:part element="impl:getAdvertisementFromIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAdvertisementDetailRequest">

      <wsdl:part element="impl:getAdvertisementDetail" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createAdvertisementResponse">

      <wsdl:part element="impl:createAdvertisementResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getuserDetailArrayResponse">

      <wsdl:part element="impl:getuserDetailArrayResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getuserDetailArrayRequest">

      <wsdl:part element="impl:getuserDetailArray" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createAdvertisementRequest">

      <wsdl:part element="impl:createAdvertisement" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updatetimeResponse">

      <wsdl:part element="impl:updatetimeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllSellerTransactionRequest">

      <wsdl:part element="impl:getAllSellerTransaction" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTransactionResponse">

      <wsdl:part element="impl:getTransactionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAdvertisementFromIdRequest">

      <wsdl:part element="impl:getAdvertisementFromId" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getIdFromFirstnameResponse">

      <wsdl:part element="impl:getIdFromFirstnameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getuserDetailRequest">

      <wsdl:part element="impl:getuserDetail" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateQuantityAdvertisementTransactionRequest">

      <wsdl:part element="impl:updateQuantityAdvertisementTransaction" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updatetimeRequest">

      <wsdl:part element="impl:updatetime" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAdvertisementDetailLinkedListResponse">

      <wsdl:part element="impl:getAdvertisementDetailLinkedListResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signInMarketRequest">

      <wsdl:part element="impl:signInMarket" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTransactionRequest">

      <wsdl:part element="impl:getTransaction" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteAdvertisementRequest">

      <wsdl:part element="impl:deleteAdvertisement" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getQuantityFromAdidResponse">

      <wsdl:part element="impl:getQuantityFromAdidResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getuserDetailMarketRequest">

      <wsdl:part element="impl:getuserDetailMarket" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteAdvertisementResponse">

      <wsdl:part element="impl:deleteAdvertisementResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllBuyerTransactionRequest">

      <wsdl:part element="impl:getAllBuyerTransaction" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertTransactionRequest">

      <wsdl:part element="impl:insertTransaction" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getuserDetailMarketResponse">

      <wsdl:part element="impl:getuserDetailMarketResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllBuyerTransactionResponse">

      <wsdl:part element="impl:getAllBuyerTransactionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signUpMarketResponse">

      <wsdl:part element="impl:signUpMarketResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateQuantityAdvertisementTransactionResponse">

      <wsdl:part element="impl:updateQuantityAdvertisementTransactionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getIdFromFirstnameRequest">

      <wsdl:part element="impl:getIdFromFirstname" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllSellerTransactionResponse">

      <wsdl:part element="impl:getAllSellerTransactionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Service">

      <wsdl:operation name="signInMarket">

         <wsdl:input message="impl:signInMarketRequest" name="signInMarketRequest">

       </wsdl:input>

         <wsdl:output message="impl:signInMarketResponse" name="signInMarketResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updatetime">

         <wsdl:input message="impl:updatetimeRequest" name="updatetimeRequest">

       </wsdl:input>

         <wsdl:output message="impl:updatetimeResponse" name="updatetimeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="signUpMarket">

         <wsdl:input message="impl:signUpMarketRequest" name="signUpMarketRequest">

       </wsdl:input>

         <wsdl:output message="impl:signUpMarketResponse" name="signUpMarketResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getIdFromFirstname">

         <wsdl:input message="impl:getIdFromFirstnameRequest" name="getIdFromFirstnameRequest">

       </wsdl:input>

         <wsdl:output message="impl:getIdFromFirstnameResponse" name="getIdFromFirstnameResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createAdvertisement">

         <wsdl:input message="impl:createAdvertisementRequest" name="createAdvertisementRequest">

       </wsdl:input>

         <wsdl:output message="impl:createAdvertisementResponse" name="createAdvertisementResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAdvertisementDetail">

         <wsdl:input message="impl:getAdvertisementDetailRequest" name="getAdvertisementDetailRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAdvertisementDetailResponse" name="getAdvertisementDetailResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAdvertisementDetailLinkedList">

         <wsdl:input message="impl:getAdvertisementDetailLinkedListRequest" name="getAdvertisementDetailLinkedListRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAdvertisementDetailLinkedListResponse" name="getAdvertisementDetailLinkedListResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getQuantityFromAdid">

         <wsdl:input message="impl:getQuantityFromAdidRequest" name="getQuantityFromAdidRequest">

       </wsdl:input>

         <wsdl:output message="impl:getQuantityFromAdidResponse" name="getQuantityFromAdidResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getuserDetailMarket">

         <wsdl:input message="impl:getuserDetailMarketRequest" name="getuserDetailMarketRequest">

       </wsdl:input>

         <wsdl:output message="impl:getuserDetailMarketResponse" name="getuserDetailMarketResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAdvertisementFromId">

         <wsdl:input message="impl:getAdvertisementFromIdRequest" name="getAdvertisementFromIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAdvertisementFromIdResponse" name="getAdvertisementFromIdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="insertTransaction">

         <wsdl:input message="impl:insertTransactionRequest" name="insertTransactionRequest">

       </wsdl:input>

         <wsdl:output message="impl:insertTransactionResponse" name="insertTransactionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTransaction">

         <wsdl:input message="impl:getTransactionRequest" name="getTransactionRequest">

       </wsdl:input>

         <wsdl:output message="impl:getTransactionResponse" name="getTransactionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllBuyerTransaction">

         <wsdl:input message="impl:getAllBuyerTransactionRequest" name="getAllBuyerTransactionRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllBuyerTransactionResponse" name="getAllBuyerTransactionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllSellerTransaction">

         <wsdl:input message="impl:getAllSellerTransactionRequest" name="getAllSellerTransactionRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllSellerTransactionResponse" name="getAllSellerTransactionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateQuantityAdvertisementTransaction">

         <wsdl:input message="impl:updateQuantityAdvertisementTransactionRequest" name="updateQuantityAdvertisementTransactionRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateQuantityAdvertisementTransactionResponse" name="updateQuantityAdvertisementTransactionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteAdvertisement">

         <wsdl:input message="impl:deleteAdvertisementRequest" name="deleteAdvertisementRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteAdvertisementResponse" name="deleteAdvertisementResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getuserDetail">

         <wsdl:input message="impl:getuserDetailRequest" name="getuserDetailRequest">

       </wsdl:input>

         <wsdl:output message="impl:getuserDetailResponse" name="getuserDetailResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getuserDetailArray">

         <wsdl:input message="impl:getuserDetailArrayRequest" name="getuserDetailArrayRequest">

       </wsdl:input>

         <wsdl:output message="impl:getuserDetailArrayResponse" name="getuserDetailArrayResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServiceSoapBinding" type="impl:Service">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="signInMarket">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="signInMarketRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="signInMarketResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updatetime">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updatetimeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updatetimeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="signUpMarket">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="signUpMarketRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="signUpMarketResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getIdFromFirstname">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getIdFromFirstnameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getIdFromFirstnameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createAdvertisement">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createAdvertisementRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createAdvertisementResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAdvertisementDetail">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAdvertisementDetailRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAdvertisementDetailResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAdvertisementDetailLinkedList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAdvertisementDetailLinkedListRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAdvertisementDetailLinkedListResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getQuantityFromAdid">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getQuantityFromAdidRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getQuantityFromAdidResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getuserDetailMarket">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getuserDetailMarketRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getuserDetailMarketResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAdvertisementFromId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAdvertisementFromIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAdvertisementFromIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="insertTransaction">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="insertTransactionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="insertTransactionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTransaction">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTransactionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTransactionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllBuyerTransaction">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllBuyerTransactionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllBuyerTransactionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllSellerTransaction">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllSellerTransactionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllSellerTransactionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateQuantityAdvertisementTransaction">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateQuantityAdvertisementTransactionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateQuantityAdvertisementTransactionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteAdvertisement">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteAdvertisementRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteAdvertisementResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getuserDetail">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getuserDetailRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getuserDetailResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getuserDetailArray">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getuserDetailArrayRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getuserDetailArrayResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServiceService">

      <wsdl:port binding="impl:ServiceSoapBinding" name="Service">

         <wsdlsoap:address location="http://localhost:8080/SimpleMarketPlace/services/Service"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
